* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,500&family=Montserrat:wght@400;500;700&family=Open+Sans:wght@300&family=Roboto+Slab:wght@500&family=Rubik:wght@300;500&display=swap');

html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}